<!doctype html>
<html class="no-js" lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{ texts.title }}</title>
        <link rel="icon" type="image/x-icon" href="/static/img/favicon.ico">
        <link rel="stylesheet" href="static/css/foundation.min.css">
        <link rel="stylesheet" href="static/css/app.css?id=1">
    </head>


    <body>
    {% include "header.html" %}
    <div class="grid-container">
        <div class="grid-x grid-padding-x">
            <div class="large-12 cell">
                <h1>{{ texts.title }}</h1>
            </div>

            <div class="large-4 medium-6 small-12 cell">
                <div class="callout">
                    <p>
                        {{ texts.message }}
                    </p>
                </div>

                <div class="callout primary">
                    <p>CRANKADE is the central hub for where I (Matt Payne) will host any web apps and games that I want to share with you. Right now there's just one: CRANKWORD, a multi-player, turn-based word-guessing game. Please enjoy!</p>
                </div>

            </div>

            <div class="large-12 cell">
                <h2>APPS</h2>
                {% for link in client_links %}
                <div class="callout client_link_callout">
                    <h5><a href="{{ link.domain }}">{{ link.name }}</a></h5>
                    <a href="{{ link.domain }}"><img class="client_link_logo" src="{{ link.logo_url }}" /></a>
                    <p>{{ link.description }}</p>
                </div>
                {% endfor %}
            </div>
        </div> <!-- end of grid-x -->

    </div><!-- end of grid-container -->
            

        <script src="static/js/vendor/jquery.js"></script>
        <script src="static/js/vendor/what-input.js"></script>
        <script src="static/js/vendor/foundation.min.js"></script>
        <script type="module" src="static/js/app.js"></script>
    </body>


</html>
