<!doctype html>
<html class="no-js" lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{ title }}</title>
        <link rel="stylesheet" href="static/css/foundation.css">
        <link rel="stylesheet" href="static/css/app.css?id=1">
    </head>


    <body>
    {% include "header.html" %}
    <div class="grid-container">
        <div class="grid-x grid-padding-x">
            <div class="large-12 cell">
                <h1>{{ title }}</h1>
                <p>
                    This will be the main page for Pattmayne Games.
                </p>
            </div>

            <div class="large-12 cell">
                <div class="callout">
                    <p>
                        Message: {{ message }}
                    </p>
                    <span>
                        <a href="auth/login" class="button small">Login</a>
                        <a href="auth/register" class="button small">Register</a>
                    </span>
                </div>

                <div class="callout primary">
                    <p>This is a second box explaining some things.</p>
                </div>
            </div>
        </div> <!-- end of grid-x -->

    </div><!-- end of grid-container -->
            

        <script src="static/js/vendor/jquery.js"></script>
        <script src="static/js/vendor/what-input.js"></script>
        <script src="static/js/vendor/foundation.js"></script>
        <script src="static/js/app.js"></script>
    </body>


</html>
