<!doctype html>
<html class="no-js" lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{ title }}</title>
        <link rel="stylesheet" href="/static/css/foundation.css?id=7">
        <link rel="stylesheet" href="/static/css/app.css?id=7">
    </head>


    <body>
    {% include "header.html" %}

    <div class="grid-container">
        <div class="grid-x grid-padding-x">
            <div class="large-12 cell">
                <h1>{{ title }}</h1>
                <p>
                    This will be the main page for Pattmayne Games.
                </p>
            </div>

            <div class="large-12 cell">
                <div class="callout">
                    <p>
                        {{ message }}
                    </p>
                    <form>
                        <div class="grid-x grid-padding-x">
                            <div class="large-4 medium-3 cell hide-for-small-only">
                                &nbsp;
                            </div>
                            <div class="large-4 medium-6 small-12 cell">
                                <h4>{{ title }}</h4>
                                <label>
                                    Username:
                                    <input id="username" name="username" type="text" />
                                </label>

                                <label>
                                    Email:
                                    <input id="email" name="email" type="text" />
                                </label>


                                <label>
                                    Password:
                                    <input id="password" name="password" type="password" />
                                </label>

                                <a class="button small" onclick="submit_register()">REGISTER</a>
                            </div>
                            <div class="large-4 medium-3 cell hide-for-small-only">
                                &nbsp;
                            </div>
                        </div>

                    </form>
                </div>

                <div class="callout primary" id="err_msg_box">
                </div>
            </div>
        </div> <!-- end of grid-x -->

    </div><!-- end of grid-container -->
            

        <script src="/static/js/vendor/jquery.js"></script>
        <script src="/static/js/vendor/what-input.js"></script>
        <script src="/static/js/vendor/foundation.js"></script>
        <script type="module" src="/static/js/register.js?id=8"></script>
    </body>


</html>
