/*  REMEMBER only to edit the SCSS file  */

/* RAW COLORS */
$jet: #423841ff;
$lapis-lazuli: #2e5c8aff;
$timberwolf: #d6d6d6ff;
$forest-green: #248232ff;
$dartmouth-green: #1A6025; /* darker green */
$bronze: #c97c18ff;
$pastel-blue: #5a639e;
$pure-blue: #0008dd;
$yellow: #bdf000;

$very-light-gray: #f0f0f0;



/* COLOR SCHEME 
        https://coolors.co/423841-2e5c8a-d6d6d6-248232-c97c18
*/

$white: $very-light-gray;
$black: #111111;


/* CUSTOM FONTS */



@font-face {
  font-family: nue-gothic-reg;
  src: url(../fonts/nue-gothic-reg.ttf);
}


@font-face {
  font-family: nue-gothic-round;
  src: url(../fonts/nue-gothic-round.ttf);
}

@font-face {
  font-family: 'lato';
  src: url(../fonts/lato-med.woff2);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'lato';
  src: url(../fonts/lato-bold.woff2);
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'lato';
  src: url(../fonts/lato-med-italic.woff2);
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'lato';
  src: url(../fonts/lato-bold-italic.woff2);
  font-weight: bold;
  font-style: italic;
}



/* FONT VARIABLES */

$header-font: nue-gothic-round;
$text-font: lato;
$button-font: lato;



/* HTML ELEMENT OVERRIDES */

body {
    font-family: $text-font;
    background-color: $black;
    color: $white;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $header-font;
  text-transform: uppercase;
}




/* FOUNDATION OVERRIDES */


.callout.primary a {
  color: $very-light-gray;
}

.callout.primary a:hover {
  color: $white;
}


.callout a,
.callout.primary .callout a {
  color: $yellow;
  text-decoration: none;
}

.callout a:hover,
.callout.primary .callout a:hover {
  color: $black;
}


.callout {
    background-color: $pastel-blue;
    color: $white;
}

.callout label {
    color: $white;
}

.callout.primary {
    background-color: $timberwolf;
    color: $black;
}

.callout.primary label {
  color: $black;
}


.button {
    border: 1px solid $black;
    border-radius: 5px;
    background-color: $forest-green;
    color: $white!important;
    font-family: $button-font, arial;
    font-weight: bold;
    text-transform: uppercase;
}

.button:hover, .button:focus {
    background-color: $black;
    color: $white!important;
}

.top-bar,
.top-bar-right,
.top-bar-left{
  background-color: transparent;
}

.menu,
.menu li
{
  background-color: $lapis-lazuli;
}

/* CUSTOM CLASSES */


.nav-button {
  background-color: transparent;
  border: none;
  border-radius: 0px;
}



/* 
 * 
 * 
 * 
 * 
 * ========================
 * ========================
 * =====              =====
 * =====  FRONT PAGE  =====
 * =====              =====
 * ========================
 * ========================
 * 
 * 
 * 
 * 
*/

.client_link_callout {
  display: inline-block;
  width: auto;
  margin-right: 5px;
  text-align: center;
}

.client_link_logo {
  width: 175px;
  max-width: 100%;
}